
{{!--<li class="comment">--}}
{{!--    <p>{{this.username}}:</p>--}}
{{!--    <p>{{this.text}}</p>--}}
{{!--    <p>{{formatDateString this.createdAt}}</p>--}}
{{!--</li>--}}
{{!--                <form action="/posts/search" method="get">--}}
{{!--                    <input type="text" id="commentBox" name="key">--}}
{{!--                    <input type="submit" value="Reply" id="commentButton">--}}
{{!--                </form>--}}

<li id="message-{{this.id}}" class="comment">
    <div class="commentContent">
        <strong>{{this.username}}:</strong>
        <span>{{formatDateString this.createdAt "short" "short"}}</span>
        <div class="commentBody">{{this.text}}</div>
        <input type="submit" value="Reply" class="replyButton" id="reply-{{this.id}}">
        <div class="replyContent replyContent-hidden" data-postid="{{postId}}" data-commentid="{{this.id}}">
            <textarea class="replyBox" name="key" rows="10" tabindex="-1"></textarea>
            <input type="submit" value="Comment" class="replyCommentButton" tabindex="-1">
        </div>
    </div>
    <ul class="childComments">
    {{#each this.children}}
        {{> comment postId=../postId}}
    {{/each}}
    </ul>
</li>